#game{
    #interface{
        &:not(.game-over) #game-over{ display: none !important; }
        #game-over{
            margin: auto;
            color: lighten($green-003, 7%);
            text-align: center;

            h1{
                font-size: 3rem;
            }

            h2{
                font-size: 1.5rem;
            }

            .submit{
                padding: 20px 40px;
            }

            > *{
                + *{
                    margin-top: 50px;
                }
            }
        }
    }
}