@font-face {
    font-family: 'visitor';
    src: url(../fonts/visitor.ttf);
}

@font-face {
    font-family: 'PressStart2P';
    src: url(../fonts/PressStart2P.ttf);
}

@font-face{
    font-family: '8-bit-wonder';
    src: url(../fonts/8-BIT-WONDER.ttf);
}