#game{
    #interface{
        position: fixed;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        z-index: 10;

        h4{ font-size: 0.8rem; }

        .modal{
            width: 300px;
            &.closed{ display: none;}

            > header{
                width: 100%;

                margin-bottom: 20px;
    
                color: $green-005;
                text-align: center;
                font-size: 4.4rem;
            }

            > footer{
                display: flex;
                justify-content: space-between;

                margin-top: 10px;

                color: $green-003;
                font-size: .7rem;

                a{
                    $underline-distance: 3px;
                    $underline-height: 2px;

                    display: inline-block;

                    margin-bottom: -($underline-distance + $underline-height);

                    color: $green-005;
                    text-decoration: none;

                    &::after{
                        content: '';
                        display: none;
                        width: 100%;
                        height: $underline-height;

                        margin-top: $underline-distance;

                        background: $green-005;
                    }

                    &:hover{
                        &::after{ display: block; }
                    }
                }
            }

            .back{
                display: block;
                color: $green-004;
                font-size: .9rem;
                text-decoration: none;
                margin-bottom: 10px;

                &::before{
                    content: '';
                    display: inline-block;
                    border: 5px transparent solid;
                    border-right-color: $green-004;
                    margin-right: 10px;
                }

                &:hover{
                    &::before{
                        animation: 1s ease infinite translateX;
                    }
                }

                @keyframes translateX{
                    0%{
                        transform: translateX(0);
                    }
                    50%{
                        transform: translate(5px);
                    }
                    100%{
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}