#game{
    #interface{
        &:not(.login) #login{ display: none !important; }
        #login{
            margin: 30px 0 20px 0;
            form{
                display: flex;
                justify-content: space-between;

                input[type="submit"]{
                    width: 80px;
                    height: 45px;
                    
                    border: none;
                    border-radius: 1.5px;

                    color: $white;
                    font-size: .8rem;

                    background: $green-002;
                }

                input[type="text"]{

                    width: 160px;
                    height: 40px;

                    padding: 0 20px;

                    border: 3px $green-002 solid;
                    border-radius: 3px;

                    background: $white;

                    &:focus{
                        border-color: $green-004;
                        background: $white-actived;
                    }

                    &:valid{
                        border-color: $green-003;
                        
                        + input[type="submit"]{
                            color: $white-actived;
                            background: $green-003;
                            &:hover{
                                cursor: pointer;
                                background: $green-005;
                            }
                        }
                    }
                }
            }
        }
    }
}