#game{
    #interface{
        &:not(.main-menu) #main-menu{ display: none !important; }
        #main-menu{
            display: block;
            width: 300px;

            h4{
                margin-bottom: 10px;

                color: $green-003;
                font-size: 0.8rem;
            }

            nav{
                ul{
                    display: flex;
                    flex-direction: column;
                    list-style: none;

                    li{
                        width: 100%;
                        button{
                            width: 100%;
                            height: 65px;

                            border: 3px $green-004 solid;
                            border-radius: 3px;

                            color: $green-003;
                            font-size: 1rem;
                            text-transform: uppercase;

                            background: none;

                            &:hover{
                                cursor: pointer;
                                color: $white;
                                background: $green-004;
                            }
                        }

                        + li{
                            margin-top: 10px;
                        }
                    }
                }
            }

        }
    }
}