#game{
    #interface{
        &:not(.multiplayer-menu) #multiplayer-menu{ display: none !important; }
        #multiplayer-menu{

            h4{
                margin: 15px 0 7px 3px;
                color: $green-003;
            }

            .input-number{
                //margin-right: 45.5px;
            }

            .submit{
                display: inline-block;
                width: 145.5px;
                height: 39px;
            }
        }
    }
}